body {
    color:#4d0808;
    background-image: url(img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
}
h1 {
    text-align: center;
}
a {
    color: darkslategrey;
}
table,td, tr{
    border-width: 1px;
    border-style: solid;
    border-color: #a77;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
}
.minikep{
    float: right;
    width: 400px;
    margin-left: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #4d0808;
}